<!DOCTYPE html>
<html lang="id">
<head>

<meta charset="UTF-8">
<title>AI Stroke Detection</title>

<link rel="icon" type="image/png" href="\static\img\brain-solid-full.svg">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body class="intro-body">

<div class="intro-container">

<div class="intro-icon">
<i class="fa-solid fa-brain"></i>
</div>

<h1>Deteksi Dini <br> <span>Stroke Otak</span></h1>

<p>
Gunakan AI untuk mendeteksi tanda-tanda stroke 
melalui citra CT Scan otak secara cepat dan akurat.
</p>

<a href="/home">
<button class="btn-lanjut">
Lanjut <i class="fa-solid fa-arrow-right"></i>
</button>
</a>

</div>

</body>
</html>